* {
    font-family: 'Roboto', sans-serif;
}

.login-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  font-size: 15px;
  color: #17c2ba;
  margin-bottom: 0;
}

.login-input-field {
  margin-left: 10px;
  color: black;
}

.login-button {
  background-color: #17c2ba;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  margin: 5px;
  width: 90px;
}

.login-href {
  text-align: center;
  padding-left: 15px;
  color: #17c2ba;
}

.login-href:hover {
  color: #17c2ba;
}

.login-href:visited {
  color: #17c2ba;
}