.opinion-thread-form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: white;
  align-self: center;
  box-shadow: 0 0 10px 3px rgba(23, 194, 186, 0.329);
}

.opinion-thread-header {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.opinion-thread-gradient-line {
  width: 2px;
  height: auto;
  margin-left: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+11,ffffff+11,17c2ba+49,ffffff+87 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 11%, #ffffff 11%, #17c2ba 49%, #ffffff 87%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 11%,#ffffff 11%,#17c2ba 49%,#ffffff 87%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 11%,#ffffff 11%,#17c2ba 49%,#ffffff 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.opinion-thread-form-title{
    align-self: center;
    margin-left: 10px;
    color: #17c2ba;
    font-size: 20px
}

.opinion-thread-form-input-section {
    display: flex;
    flex-direction: column;
    background-color: #17c2ba;
    color: white;
}

.ot-name-label {
    font-weight: 100;
    margin: 10px;
 
}

.ot-name-label-input {
    margin-left: 20px;
    border-radius: 5px;
    color: #17c2ba;
    border: none;
    text-align: center;
}

.ot-name-label-input:focus {
    outline-width: 0;
}

.ot-button {
    background-color: #17c2ba;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    margin: 5px;
  }

.ot-datepicker-label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.react-datepicker__input-container{
    border-radius: 5px;
    color: #17c2ba;
    border: none;
    text-align: center;
}

.react-datepicker__input-container input{
    border-radius: 5px;
    color: #17c2ba;
    border: none;
    text-align: center;
}

.react-datepicker *{
    font-size: 10px;
}

.react-datepicker__current-month, .react-datepicker-time__header{
    font-size: 15px !important;
}