* {
    font-family: 'Roboto', sans-serif;
}


.home-title {
  color: #17c2ba;
  margin-top: 150px;
  font-size: 45px; 
}

.home-main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../assets/ovillo-trans.png');
  background-repeat: no-repeat;
  background-position: left 20px bottom -20vh;
  height: calc(100vh - 60px);
  background-size: auto 50vw; 
}

.home-subtitle {
  margin-top: 20px;
  color: grey;
  font-size: 30px;
}