* {
    font-family: 'Roboto', sans-serif;
}


.home-title {
  color: #17c2ba;
  margin-top: 150px;
  font-size: 45px; 
}

.home-main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-main-section::after {
  content: '';
  background-image: url('../../assets/ovillo.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  opacity: 0.5;
}

.home-subtitle {
  margin-top: 20px;
  color: grey;
  font-size: 30px;
}