* {
  font-family: 'Roboto', sans-serif;
}

.home-single-description {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 300px;
}

.home-single-title {
  color: #17c2ba;
}

.home-single-text {
  color: grey;
}