.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
    color: #f2f2f2;
  }
  
.arc path {
  stroke: #fff;
}

.ct-series-a .ct-slice-pie {
  fill: green
}

.ct-series-b .ct-slice-pie{
  fill: red
}

.ct-series-c .ct-slice-pie{
  fill: gray
}

.ct-label {
  font-size: 20px;
}